# Auto detect text files and perform LF normalization
*        text=auto
*.java   text diff=java
*.xml    text
*.txt    text

*.bat    eol=crlf
*.sh     eol=lf

*.class  -text diff=class
*.jar    -text diff=jar

*.png    binary
*.zip    binary
*.xcf    binary
*.so     binary
*.dll    binary
