# Auto detect text files and perform LF normalization
*        text=auto

*.bat    text eol=crlf
*.png    binary
*.zip    binary
*.xcf    binary

*.cs     text diff=csharp
*.java   text diff=java
*.html   text diff=html
*.css    text
*.js     text
*.sql    text
